#MetronomeSoundBtn{
    height:20px;
    width:20px;
    border:2px solid black;
    border-radius: 50%;
    outline: none;
    background-color: orange;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.369), inset 5px 0 8px #ffffff7c;
    cursor: pointer;
    transition: .1s;
}
#MetronomeSoundBtn:hover{
    background-color: var(--berry-color);
}
#MetronomeSoundBtn:active{
    transform: scale(1.2);
}