#MetronomeSoundBtn{
    height:30px;
    width:30px;
    border-radius: 50%;
    outline: 8px solid rgba(255, 255, 254, 0.323);
    outline-offset: -15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.757), inset 5px 0 6px #ffffff40;
    cursor: pointer;
    transition: .1s;
}

#MetronomeSoundBtn:active{
    transform: scale(1.2);
}

.mode0{
    background-color: transparent;
}
.mode1{
    background-color: rgb(168, 19, 19);
    
}
.mode2{
    background-color: rgb(71, 6, 6);

}