#MetronomeSoundBtn{
    height:30px;
    width:30px;
    border-radius: 50%;
    outline: 7px solid rgba(255, 255, 254, 0.323);
    outline-offset: -15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.757), inset 5px 0 2px #ffffff40, inset -5px 0 2px rgba(0, 0, 0, 0.077);
    cursor: pointer;
    transition: .1s;
    filter: opacity(0.8);
}

#MetronomeSoundBtn:active{
    transform: scale(1.2);
}

.mode0{
    background-color: transparent;
}
.mode1{
    background-color: rgb(168, 19, 19);
}
.mode2{
    background-color: rgb(94, 11, 11);
}
.mode3{
    background-color: rgb(37, 4, 4);
}

#MetronomeSoundBtn.btnPlaying {
    filter:opacity(1) contrast(1.5); 
    transform: scale(1.1);
    outline-width: 9px;
    outline-color: rgba(255, 255, 255, 0.605);
    transition: all 0.1s ease-in-out;
  }
  @media (max-width: 600px) {
    #MetronomeSoundBtn{
        height:26px;
        width:26px;
        outline-width: 6px;
  }
}
@media (max-width: 400px) {
    #MetronomeSoundBtn{
        height:21px;
        width:21px;
        outline-width: 5px;
  }
  
  #MetronomeSoundBtn.btnPlaying {
    outline-width: 6.5px;
  }
  
}