#practiceBox{
    position: absolute;
    font-size: 15px;
    top:-27px;
    left:0;
}
.displayRandItemsBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
#currentItem{
    color:var(--berry-color);
    font-weight: 800;
    font-size: 40px;
    text-shadow: 0 0 2px black;
    height: 50px;
}

@keyframes currentItemAni {
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.8);
    }
}

.selectEachItemsBox{
    display:flex;
    flex-wrap: wrap;
    gap:2px;
    align-items: center;
    justify-content:center;
}
.selectEachItemsBox div{
    font-size: 14px;
    background-color: rgb(154, 25, 25);
    color:white;
    width: fit-content;
    padding:3px 6px;
    cursor: pointer;
    border-radius: 4px;
}
.disabledItem{
    filter: opacity(0.3);
}
.itemPreSetBox{
    position:absolute;
    top:-42px;
    right:0;
}
.itemPreSetBox select{
    padding:3px 7px;
    background-color: var(--main-bg-color);
    color:black;
    margin-left: 10px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:1px solid rgba(0, 0, 0, 0.65);
}
.itemPreSetBox select:focus {
    outline: none;
    border-color:rgba(0, 0, 0, 0.256);
}

.hide{
    display: none;
}
.PracticeSwitch{
    position: absolute;
    top:-4px;
    left:65px;
}
.pracCheckBox{
    width:18px;
    height:18px;
}
@media (max-width: 600px) {
    .itemPreSetBox select{
        padding:3px 3px;
        background-color: var(--main-bg-color);
        margin-left: 3px;
    }
    
      
}
@media (max-width:400px){
    .PracticeSwitch{
        left:58px;
    }
    .itemPreSetBox > select {
        width:90px;
    }
}
  