#forTestingOnly{
  font-size: 14px;
  background-color: black;
  color:white;
  width: fit-content;
  position:fixed;
  bottom:0;
  padding:5px;
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color1);
  font-size: 30px;
  margin:0;
  padding:12px 18px;
  user-select: none;
}
#logo{
  width:60px;
  border-radius: 52%;
  outline: 2px solid rgba(0, 0, 0, 0.527);
  outline-offset: -8px;
}
header{
  display:grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  font-size: 18px;
  color:var(--berry-color);
  font-weight: bolder;
}



#metronomeBtnBox{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap:10px;
  height: 50px;
  max-width: 550px;
  margin:auto;
  margin-top:40px;
}

#metronmePointer{
  width:5px;
  height:60px;
  background-color: var(--berry-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.432), inset 2px 0 0 rgba(255, 255, 255, 0.255);
  margin:auto;
  transform-origin: top;
  position:relative;
  border-radius: 30%;
  top:20px;
  /* animation: metronomePointerAni 2s infinite ease-in-out; */
}
#metronmePointer > div{
  height:15px;
  width:12px;
  background-color: inherit;
  border-radius: 30%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.222), inset 3px 0 0 rgba(255, 255, 255, 0.255);
  position:absolute;
  left:-3.3px;
  bottom:0;
}
@keyframes metronomePointerAni {
  0%{
    transform: rotate(-95deg);
  }
  50%{
    transform:  rotate(95deg);
  }
  100%{
    transform: rotate(-95deg);
  }
}

#metronomeToolBox{
  margin-top: 38px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:12px;
}

.tempoCtrlBtn{
  border-radius: 18%;
  border:none;
  background-color: var(--berry-color);
  color:white;
  padding: 4px 8px;
  cursor: pointer;
  transition: .1s;
}
.tempoCtrlBtn:hover{
  filter:brightness(1.2)
}
.tempoCtrlBtn:active{
  transform: scale(1.1);
}
#currentTempoBox{
  cursor: default;
  font-size: 34px;
}
#currentTempoName{
  font-size:16px;
  font-family: monospace;
  position: absolute;
  top:-33px;
}

#tempoRangeBox{
  position: relative;
  padding:2px;
  margin:4px auto 4px auto;
  max-width: 500px;
  display: flex;
  gap:2px;
}
.eachTempoRange{
  height:10px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s;
}
.eachTempoRange:active{
  transform: scaleY(1.2);
}
.verySlow{
  background-color: rgb(100, 29,29);
  width:16%;
}
.slow{
  background-color: rgb(120, 29,29);
  width:9%;
}
.moderate{
  width:13%;
  background-color: rgb(140, 29, 29);
}
.fast{
  width:23%;
  background-color: rgb(160, 29, 29);
}
.veryFast{
  width:40%;
  background-color: rgb(180, 29, 29);
}
#tempRInp{
  display:block;
  margin: auto;
  width:100%;
  max-width: 500px;
  outline:none;
}


#randomBox{
  border:1px solid black;
  margin-top: 60px;
  max-width: 500px;
  margin-left: auto;
  margin-right:auto;
}



#playCtrlBox{
  border:1px solid black;
  margin-top: 80px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap:38px;
  padding:12px;
}
#playBtn{
  border:1px solid black;
  cursor: pointer;
}
#beatsPbarBtn, #timerBtn{
  color:black;
  font-size: 20px;
  border:1px solid black;
  cursor: pointer;
}
