#forTestingOnly{
  font-size: 14px;
  background-color: black;
  color:white;
  width: fit-content;
  position:fixed;
  bottom:0;
  padding:5px;
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color1);
  font-size: 30px;
  margin:0;
  padding:12px 18px;
  user-select: none;
}
#logo{
  width:60px;
  border-radius: 52%;
  outline: 2px solid rgba(0, 0, 0, 0.527);
  outline-offset: -8px;
}
header{
  display:grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  font-size: 18px;
  color:var(--berry-color);
  font-weight: bolder;
}



#metronomeBtnBox{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap:10px;
  height: 50px;
  max-width: 550px;
  margin:auto;
  margin-top:24px;
}
#metronomePointerBox{
  position:relative;
  border-radius:5% 5% 50% 50%;
  width:30px;
  height:30px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 20px;
  background-color: #785b5bd0;
  box-shadow:0 0 6px rgba(0, 0, 0, 0.72), inset 3px 0px 1px rgba(255, 255, 255, 0.306);
  outline:1px solid rgba(59, 5, 5, 0.784); 
}
#metronmePointer{
  width:5px;
  height:60px;
  background-color: var(--berry-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.432), inset 2px 0 1px rgba(255, 255, 255, 0.332);
  margin:auto;
  transform-origin: top;
  position:relative;
  border-radius: 30%;
  top:20px;
}

#pointerDown{
  height:15px;
  width:12px;
  background-color: inherit;
  border-radius: 30%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.222), inset 3px 0 1px rgba(255, 255, 255, 0.383);
  position:absolute;
  left:-3.3px;
  bottom:0;
}
#pointerHook{
  height: 9px;
  width: 9px;
  background-color: rgb(23, 23, 23);
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 11px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.629);
  outline: 2px solid rgba(255, 255, 255, 0.247);
  outline-offset: -7px;
}

@keyframes metronomePointerAni {
  0%{
    transform: rotate(-94deg);
  }
  50%{
    transform:  rotate(94deg);
  }
  100%{
    transform: rotate(-94deg);
  }
}

#metronomeToolBox{
  /* margin-top: 38px; */
  display:flex;
  align-items: center;
  justify-content: center;
  gap:12px;
}

.tempoCtrlBtn{
  border-radius: 18%;
  border:none;
  background-color: var(--berry-color);
  color:white;
  padding: 4px 8px;
  cursor: pointer;
  transition: .1s;
}
.tempoCtrlBtn:hover{
  filter:brightness(1.2)
}
.tempoCtrlBtn:active{
  transform: scale(1.1);
}
#currentTempoBox{
  cursor: default;
  font-size: 34px;
}
#currentTempoName{
  font-size:16px;
  font-family: monospace;
  position: absolute;
  top:-44px;
}

#tempoRangeBox{
  position: relative;
  padding:2px;
  margin:14px auto 4px auto;
  max-width: 500px;
  display: flex;
  gap:2px;
}
.eachTempoRange{
  height:10px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s;
}
.eachTempoRange:active{
  transform: scale(1.1);
}
.verySlow{
  background-color: rgb(100, 29,29);
  width:16%;
}
.verySlow::before{
  content: "Very slow";
  font-size: 11px;
  position: relative;
  top:-32px;
}
.slow{
  background-color: rgb(120, 29,29);
  width:9%;
}
.slow::before{
  content: "Slow";
  font-size: 11px;
  position: relative;
  top:-32px;
}
.moderate{
  width:13%;
  background-color: rgb(140, 29, 29);
}
.moderate::before{
  content: "Moderate";
  font-size: 11px;
  position: relative;
  top:-32px;
}
.fast{
  width:23%;
  background-color: rgb(160, 29, 29);
}
.fast::before{
  content: "Fast";
  font-size: 11px;
  position: relative;
  top:-32px;
}
.veryFast{
  width:40%;
  background-color: rgb(180, 29, 29);
}
.veryFast::before{
  content: "Very Fast";
  font-size: 11px;
  position: relative;
  top:-32px;
}

#tempRInp{
  display:block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  /* height: 100px; */
  max-width: 500px;
  outline:none;
}

/* slider style */
#tempRInp {
  /*Chrome, Safari, and Opera */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: rgb(86, 22, 4); 
  outline: none;
  border-radius: 5px;
}

#tempRInp::-webkit-slider-thumb {
  /*Chrome, Safari, and Opera */
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 28px;
  background: rgb(172, 43, 43);
  border-radius: 12%;
  cursor: pointer;
}
#tempRInp::-webkit-slider-thumb:active{
  transform: scale(1.2);
}
#tempRInp::-moz-range-thumb {
  /*Firefox */
  width: 18px;
  height: 28px;
  background: rgb(172, 43, 43);
  border-radius: 12%;
  cursor: pointer;
}
#tempRInp::-moz-range-thumb:active{
  transform: scale(1.2);
}


#randomBox{
  border:2px solid rgba(38, 8, 8, 0.442);
  border-radius: 6px;
  margin-top: 60px;
  max-width: 500px;
  margin-left: auto;
  margin-right:auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:14px 0 17px 0;
}



#playCtrlBox{
  border:1px solid black;
  margin-top: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap:38px;
  padding:12px;
}
#playBtn{
  border:1px solid black;
  cursor: pointer;
}
#beatsPbarBtn, #timerBtn{
  color:black;
  font-size: 20px;
  border:1px solid black;
  cursor: pointer;
}
#soundSelect{
  font-size: 15px;
  width: fit-content;
  position: absolute;
  right:20px;
  top:28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#soundSelect select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px;
  /* border: 1px solid #010101; */
  border-radius: 4px;
  /* border: 1px solid transparent; */
  /* background-color: var(--main-bg-color); */
  border:none;
  background-color: var(--berry-color);
  color:white;
  font-size: 14px;
  margin-left:8px;
}

#soundSelect select:focus {
  outline: none;
}


